body {
  height: 100000px;
  font-family: "Poppins", sans-serif;
}

:root {
  --color-primary: #f2c94c;
  --color-secondary: #f9f9fb;
  --color-black: #0e0e0e;
  --color-blue: #06234e;
}

/* Nav */
.container .navbar-brand img {
  width: 100px;
}

.tombol-kalkulator {
  position: absolute;
  right: 0;
}

/* Header */

#header .content {
  width: 30em;
  height: 100%;
}

#header .content h1 {
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 0.5em;
}

#header .content h5 {
  font-size: 1.1rem;
  margin: 0;
  margin-bottom: 0.5em;
}

#header .content button {
  background-color: var(--color-primary);
  color: white;
}

#imgHeader {
  width: 400px;
  height: 350px;
  background-color: var(--color-secondary);
  position: relative;
  border-radius: 12%;
  transform-style: preserve-3d;
}

#logoHeader {
  width: 500px;
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%) translateZ(70px);
}

#iconHeader {
  position: absolute;
  width: 200px;
  left: -20%;
  top: 5%;
  transform: translateZ(90px);
}

#volumeIcon {
  width: 200px;
  position: absolute;
  bottom: 5%;
  left: 65%;
  transform: translateZ(100px);
}

.progress {
  width: 150px;
  height: 40px;
  padding: 2%;
  border-radius: 25px;
  position: absolute;
  left: 80%;
  top: 4%;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 5px var(--color-secondary);
  transform: translateZ(50px);
}

.progress h5 {
  font-size: 10px;
  margin: 0;
  margin-left: 10px;
  margin-bottom: 5px;
}

.progress .range {
  width: 90px;
  height: 1px;
  border-radius: 1px;
  border: 1.5px solid var(--color-secondary);
  margin-left: 10px;
  position: relative;
}

.progress .range::before {
  content: "";
  height: 1.5px;
  position: absolute;
  width: 70px;
  border-radius: 1px;
  background-color: var(--color-primary);
  top: 50%;
  left: -2px;
  transform: translate(0, -50%);
}

.progress .range #persen {
  position: absolute;
  font-size: 7px;
  bottom: 50%;
  right: -23%;
  transform: translate(0, 45%);
}

/* Menu Material Rumah */
#menuHitungMaterial {
  margin-top: 10em;
}

#menuHitungMaterial h2 {
  font-weight: bold;
}

#notFound {
  display: none;
}

/* Search Menu Material Rumah */
.group {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  height: 40px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
input:hover {
  outline: none;
  border-color: var(--color-primary);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
  position: absolute;
  left: 1rem;
  width: 1rem;
  height: 1rem;
}

/* list-pekerjaan */
.list-pekerjaan {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.list-pekerjaan .text-pekerjaan h4 {
  margin: 0;
  font-weight: bold;
  margin-bottom: 0.25em;
}

.list-pekerjaan .text-pekerjaan span {
  font-size: 1rem;
}

.list-pekerjaan .text-pekerjaan i {
  position: absolute;
  right: 1em;
  bottom: 1.4em;
}

.list-pekerjaan .text-pekerjaan {
  width: 100%;
  height: 100%;
  margin-top: 1.6em;
}

.list-pekerjaan .card-pekerjaan {
  width: 25em;
  height: 11em;
  background-color: var(--color-primary);
  border-radius: 1em;
  padding: 1em 2%;
  position: relative;
  flex: 1 1 19em;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.list-pekerjaan .card-pekerjaan:hover {
  background-color: #e9be3b;
}

.list-pekerjaan .cover-pekerjaan {
  width: 3.7em;
  height: 3.7em;
  background-color: var(--color-secondary);
  border-radius: 50%;
}

#tombolPekerjaanLainnya {
  background-color: var(--color-blue);
  color: white;
}

@media (max-width: 450px) {
  .tombol-kalkulator {
    position: static;
    margin-top: 1em;
  }

  .container .navbar-brand img {
    width: 100px;
  }

  #header .content {
    width: 20em;
    height: 100%;
    text-align: center;
    margin: auto;
  }

  #gambarHeader {
    transform: scale(0.6) translateX(25%);
    transform-origin: 0%;
  }

  .list-pekerjaan .card-pekerjaan {
    margin-right: 0;
  }

  #menuHitungMaterial {
    margin-top: 5em;
  }

  .col-12 h2 {
    text-align: center;
  }

  .col-12 p {
    text-align: center;
    margin-bottom: 2em;
  }
}
