body {
  height: 100000px;
  font-family: "Poppins", sans-serif;
}

:root {
  --color-primary: #f2c94c;
  --color-secondary: #f9f9fb;
  --color-black: #0e0e0e;
  --color-blue: #06234e;
}

/* Nav */
.container .navbar-brand img {
  width: 100px;
}

.tombol-kalkulator {
  position: absolute;
  right: 0;
}

/* Form */

label {
    font-weight:500;
}

.form-input {
    background-color: var(--color-blue);
    height: 580px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 400px;
    display: flex;
    align-items: center;
}

.form-text {
    color: white;
}