body {
  font-family: "Poppins", sans-serif;
}

:root {
  --color-primary: #f2c94c;
  --color-secondary: #f9f9fb;
  --color-black: #0e0e0e;
  --color-blue: #06234e;
  --color-bluesoft: #98bbde;
}

/* Nav */
.container .navbar-brand img {
  width: 100px;
}

.tombol-kalkulator {
  position: absolute;
  right: 0;
}

#coverGetApp .cover-img {
  width: 100%;
}

#coverGetApp .cover-img img {
  width: 100%;
}

#coverGetApp .table-cover {
  width: 90%;
  background-color: var(--color-blue);
  color: white;
  padding: 1rem;
  border-radius: 2rem;
}

.sticky {
  padding-top: 5.8rem;
}

#coverGetApp .table-cover li {
  border-bottom: 0.5px dashed rgba(255, 255, 255, 0.6);
  width: 92%;
  padding: 1.5rem 0;
  border-width: 1.8px 0;
}
#coverGetApp .table-cover li a {
  color: white;
  text-decoration: none;
}

#coverGetApp .img-tutorial {
  width: 25%;
}

#coverGetApp .col-9 li {
  width: 50%;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 95%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 95%;
    overflow-x: hidden;
  }
  #coverGetApp .img-tutorial {
    width: 50%;
    margin-top: 1rem;
  }

  .sticky {
    padding-top: 3rem;
  }

  #coverGetApp .table-cover {
    width: 100%;
  }
}

#coverGetApp .cover-img {
  transform: scale(1.3);
}

/* Hobile */
@media (max-width: 450px) {
}
